# APP
PORT=3000

# DATABASE
POSTGRES_USER=nest
POSTGRES_PASSWORD=nest
POSTGRES_DB=app
POSTGRES_PORT=5432

# DATABASE URL
DATABASE_URL=postgresql://nest:nest@postgres:5432/app

# JWT
JWT_SECRET=supersecret