# APP
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200

# DATABASE
POSTGRES_USER=nest
POSTGRES_PASSWORD=nest
POSTGRES_DB=app
POSTGRES_PORT=5432

# DATABASE URL
DATABASE_URL=postgresql://nest:nest@postgres:5432/app

# JWT
JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d

# DISCORD
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/auth/discord/callback
DISCORD_GUILD_ID=